.contents.row
  .container
    .h2 新規登録

  .account-page_inner.user-form
    = form_for(@user, url: user_registration_path) do |f|
      = devise_error_messages!
      .field
        .field-label
          = f.label :名前
        .field-input
          = f.text_field :name, autofocus: true, placeholder: "田中太郎", class: "new-inp"
      .field
        .field-label
          = f.label :メールアドレス
        .field-input
          = f.email_field :email, placeholder: "ooo@xxx.co.jp", class: "new-inp"
      .field
        .field-label
          = f.label :パスワード
        .field-input
          = f.password_field :password, autocomplete: "off", placeholder: "英数字8文字以上で入力", class: "new-inp"
      .field
        .field-label
          = f.label :パスワード（確認用）
        .field-input
          = f.password_field :password_confirmation, autocomplete: "off", class: "new-inp"
      .actions
        = f.submit "アカウント作成", class: 'btn'