.wrapper
  %header.header
    .header__bar.row
      %h1.main_logo
        = link_to root_path do
          当番表アプリ
      - if user_signed_in?
        .bar_right
          %span
            = current_user.nickname
            %ul.user__info
              %li
                = link_to users_path(:id) do
                  マイページ
              %li    
                = link_to destroy_user_session_path do
                  ログアウト
          = link_to posts_new_path do
            メッセージを投稿
      - else
        .bar_right
          %ul.user__info
            %li
              = link_to new_user_session_path do
                ログイン
            %li
              = link_to new_user_registration_path do
                新規登録
