.wrapper
  .header
    .header__bar.row
      %h1.main_logo
        = link_to root_path do
          当番表アプリ
      - if user_signed_in?
        .bar_right
          %span
            = current_user.name
            %ul.user__info1
              .login
                = link_to user_path(:id) do
                  マイページ
                = link_to destroy_user_session_path, method: :delete do
                  ログアウト
          = link_to new_post_path, class: "post" do
            メッセージを投稿

      - else
        .bar_right
          %ul.user__info2
            %li
              = link_to new_user_session_path do
                ログイン
            %li
              = link_to new_user_registration_path do
                新規登録
