.main-contents.row
  .m-container
    .title
      ⭐︎本日の当番
    %ul
      - @users.each do |user|
        .div.pp
        %li#oo.user_name
          = user.name

    %hr.underbar 

    .post-container
      .post-box-title
        <連絡事項>
      .post-box
        - @posts.each do |post|
          .p-Label
            %span
              = post.user.name
            %label 
              =  post.title
          .p-text
            = post.content
          .pic-container
          - post.images.each do |image|
            = image_tag image.image_url.url, alt: "preview"
            


