.contents.row
  .container
    = form_for @post do |f|
      %h1
        投稿フォーム
      .form_box
        %h2 タイトル
        = f.text_field :title, class: "input-title", placeholder: "例）○○について"
        %h3 画像ファイル
        = f.fields_for :images do |i|
          = i.file_field :image_url, class: "input-pic"
        %h4 テキスト
        = f.text_area :content, placeholder: "皆で情報を共有しましょう！" , rows: "10", class: "input-text"
        = f.submit "編集する", class: "s-btn"
